.input-cont {
    display: flex;
    border: 2px solid var(--lightgray);
    height: 3rem;
    align-items: center;
    padding:0px 0px 15px 10px;
    border-radius: 4px;
}

.input-container {
    width: 90%;
    height: 3rem;
    display: flex;
    flex-direction: column;
}

.auth-input {
    height: 100%;
    border: none;
    margin-bottom: 0.5rem;
    padding: 10px 10px;
}

.auth-input:focus {
    outline: none;
}

:focus {
    border: none;
}

.input-label {
    padding-top: 0.5rem;
    padding-left: 0.6rem;
}

::placeholder {
    color: var(--lightgray2);
    font-weight: 100;
}

/* Select Box */

.select-input {
  padding: 8px 8px;
  border: none;
  cursor: pointer;
}

/* .select-input:focus {
    outline: none;
    color: var(--black)
} */

/* .select-input option {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #fff;
    color: #000; 
  } */

  /* .custom-select {
    min-width: 350px;
    position: relative;
  }
   */
  /* select {
    width: 100%;
    padding: 6px 6px;
    background-color: #fff;
    border: 1px solid #caced1;
    color: var(--black);
    cursor: pointer;
  } */

/* .custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
} */