.input-cont {
    display: flex;
    border: 2px solid var(--lightgray);
    height: 3rem;
    align-items: center;
    padding:0px 0px 15px 10px;
    border-radius: 4px;
}

.input-container {
    width: 90%;
    height: 3rem;
    display: flex;
    flex-direction: column;
}

.auth-input {
    height: 100%;
    border: none;
    margin-bottom: 0.5rem;
    padding: 10px 10px;
}

.input-label {
    padding-top: 0.5rem;
    padding-left: 0.6rem;
}

::placeholder {
    color: var(--lightgray2);
    font-weight: 100;
}