.logo-container {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    padding-bottom: 14px;
}

.logo-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    -webkit-text-stroke: 1px #0D3B66;
    padding-left: 0.5rem;
    color: #0D3B66;
}