@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  --gold: #FFD700;
  --lightgray: #f2f2f2;
  --tomatored: #FF6347;
  --black: #2B2F32;
  --lightgray2: #ABAFB1;
  --mainblue: #5DA9E9;
  --lightblue: #83c3ff;
  --richblack: #011627;
}

.line {
  border: 1px solid var(--lightgray);
}

